@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../resources/views/**/*.twig";
@source "../../*.php";
@source "../../**/*.php";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;

    --color-neutral-910: #121212;
}

@layer base {
    :root {
        font-feature-settings: 'cv01', 'cv02', 'cv03', 'cv04', 'cv06', 'cv11', 'liga' 1, 'calt' 1;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: InterVariable, sans-serif;
        }
    }
}

@layer components {
    .btn {
        @apply outline-none cursor-pointer py-2 px-4 rounded-lg flex items-center gap-2 whitespace-nowrap;

        &.btn-primary {
            @apply bg-emerald-600 text-white;
        }

        &.btn-warning {
            @apply bg-orange-500 text-white;
        }

        &.btn-white {
            @apply bg-white text-neutral-900;
        }
    }

    .faq-answer {
        @apply overflow-hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .faq-entry {
        .faq-card {
            @apply border-neutral-200;
        }

        &.active .faq-card {
            @apply bg-emerald-600 text-white border-emerald-600;
        }

        &.active .faq-chevron {
            @apply rotate-180;
        }
    }

    .footer-widgets .menu {
        @apply grid text-sm;
    }

    .footer-widgets .menu a {
        @apply inline-block py-1.5 font-bold hover:text-emerald-600 duration-150;
    }
    .footer-widgets .menu .current_page_item a {
        @apply text-emerald-600;
    }

    .menu-container {
        @apply w-64 fixed top-4 bottom-4 bg-white z-40 -right-64 duration-150 lg:relative lg:!right-auto lg:bottom-auto lg:top-auto lg:w-auto lg:bg-transparent rounded-2xl;
    }

    body.show-nav .menu-container {
        @apply right-4;
    }

    .menu-backdrop {
        @apply bg-neutral-900/30 backdrop-blur-xs fixed inset-0 z-30 invisible opacity-0 lg:hidden duration-300;
    }

    body.show-nav .menu-backdrop {
        @apply visible opacity-100;
    }

    .coverflow-swiper .swiper-slide {
        &.swiper-slide-active .slide-card {
            @apply border-emerald-600 bg-emerald-600 text-white;
        }

        .slide-card {
            @apply text-neutral-200 select-none;
        }
    }
}

@layer utilities {
    .wpcf7-form-control-wrap {
        @apply grow flex flex-col;

        & .wpcf7-not-valid-tip {
            @apply inline-block mt-1 text-xs text-rose-500;
        }
    }

    .wpcf7 {
        .form-input {
            @apply border py-[7px] px-3 duration-150 focus:ring-1 focus:ring-emerald-600 outline-none focus:border-emerald-600 border-neutral-200 rounded-lg w-full resize-none shadow-xs;

            &.wpcf7-not-valid {
                @apply border-rose-500 focus:ring-rose-500;
            }
        }

        form {
            .wpcf7-response-output {
                @apply text-xs rounded-lg !py-3 !px-4 right-0 bottom-0 !m-1 md:!m-3 fixed !border-0 !z-40 translate-y-8 duration-150 delay-200;
            }

            &.invalid,
            &.aborted {
                .wpcf7-not-valid-tip {
                    @apply !text-xs !text-rose-500;
                }

                .inside-breaker-form {
                    .wpcf7-not-valid-tip {
                        @apply !text-xs !text-white;
                    }
                }
                .wpcf7-response-output {
                    @apply bg-rose-500 text-white translate-y-0;
                }
            }

            &.sent .wpcf7-response-output {
                @apply bg-emerald-600 text-white translate-y-0;
            }
        }
    }

    .form-input-2 {
        @apply w-full rounded-lg py-3 px-4 font-light placeholder:text-neutral-400 border-0 outline-none focus:ring-0 bg-white text-neutral-900;

        &.pre-enq-name {
            @apply rounded-b-none md:rounded-r-none md:rounded-bl-lg;
        }

        &.pre-enq-postcode {
            @apply md:w-49 rounded-t-none md:rounded-l-none md:rounded-tr-lg;
        }
    }

    .paragraph {
        @apply prose max-w-full leading-normal font-light text-neutral-900 prose-headings:font-bold prose-headings:text-neutral-900 prose-headings:tracking-tight prose-p:mb-4 prose-a:font-light prose-a:text-neutral-800 prose-strong:font-bold prose-li:mb-0 prose-li:mt-0;
    }
    .paragraph p {
        @apply !mt-0;
    }

    .prose {
        & blockquote {
            @apply text-xs font-light tracking-tight space-y-1 pl-4 py-2 border-l-2 border-emerald-600 w-full max-w-xl not-italic;

            & p {
                @apply m-0;
            }

            & p:before {
                @apply hidden;
            }
        }
    }
}

.swiper-pagination {
    @apply !relative !mb-0;

    .swiper-pagination-bullet {
        @apply bg-neutral-200 opacity-100 rounded-md duration-200 w-4 h-1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        @apply bg-emerald-600 w-10;
    }

    &.alt {
        .swiper-pagination-bullet {
            @apply bg-white/50 opacity-100 rounded-md duration-200 w-4 h-1;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            @apply bg-white w-10;
        }
    }
}

.screen-reader-response {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.prose *:first-child {
    @apply !mt-0;
}
.prose *:last-child {
    @apply !mb-0;
}

