@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../resources/views/**/*.twig";
@source "../../*.php";
@source "../../**/*.php";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@layer base {
    :root {
        font-feature-settings: 'cv01', 'cv02', 'cv03', 'cv04', 'cv06', 'cv11', 'liga' 1, 'calt' 1;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: InterVariable, sans-serif;
        }
    }
}

@layer components {
}

@layer utilities {
}

